<div id="sobre" class="text-center rounded p-4">
    <h2>Sobre nós</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ad dolorem, harum beatae quo illum dolores ab commodi sunt amet pariatur, doloribus, repellat exercitationem consequatur debitis quisquam rem. Ipsum, sit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ad dolorem, harum beatae quo illum dolores ab commodi sunt amet pariatur, doloribus, repellat exercitationem consequatur debitis quisquam rem. Ipsum, sit?</p>
</div>