<div id="home" class="text-center rounded p-4">
    <h2>Cabeçalho do texto principal</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nemo repellendus dolore odio quod nam aspernatur obcaecati placeat ipsa expedita non, eum corporis iste provident quas, qui exercitationem incidunt cumque.</p>

    <picture>
        <img src={{img1}} alt="">
    </picture>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nemo repellendus dolore odio quod nam aspernatur obcaecati placeat ipsa expedita non, eum corporis iste provident quas, qui exercitationem incidunt cumque.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nemo repellendus dolore odio quod nam aspernatur obcaecati placeat ipsa expedita non, eum corporis iste provident quas, qui exercitationem incidunt cumque.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nemo repellendus dolore odio quod nam aspernatur obcaecati placeat ipsa expedita non, eum corporis iste provident quas, qui exercitationem incidunt cumque.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
